body {
  background-color:  hsl(203, 41%, 72%);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
#divecontiner {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;

}
#diveone {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  height: 50vh;
  border-radius: 10px 0px 0px 10px;
  margin: 0;
  padding: 0;
  
}
#divetwo {
 background-color: hsl(202, 55%, 16%); 
  width: 50%;
  height: 50vh;
  border-radius: 0px 10px 10px 40px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#divetwo img{
  width: 100px;
}
#hpp{
  color: aliceblue;
}
#hpp h4{
  text-align: center;
}
#hpp p{
 color:hsl(200, 26%, 54%) ;
 text-indent: 10px;
 font-size: 16px;
}
#space{
  color: black;
  text-indent: 20px;
}
#hlink {
  display: flex;
  justify-content: space-between;
}
#hlink a {
  display: flex;
  align-items: center;
}
#inpout input {
  width: 360px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(33, 24, 24, 0.673);
  height: 26px;
}
#inpout input::placeholder {
  padding: 10px;
}
section {
  display: flex;
}
#inputt input {
  margin: 0px;
  width: 175px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(33, 24, 24, 0.673);
  height: 26px;
}
#inputt input::placeholder {
  text-align: end;
  padding: 10px;
}
#hinput input {
  margin: 0px;
  width: 175px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(33, 24, 24, 0.673);
  height: 26px;
}
#hinput input::placeholder {
  text-align: end;
  padding: 10px;
}
#hradio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  justify-content: space-between;
  height: 25%;

}
#hradio #inputone {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgba(33, 24, 24, 0.673);
  width: 360px;
  height: 26px;
  border-radius: 5px;
  
}
h5 {
  color: rgba(0, 0, 0, 0.659);
}
 #inputtwo {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.618);
  width: 360px;
  height: 26px;
  border-radius: 5px;
}
button {
  display: flex;
  align-items: center;
  background-color: rgb(200, 219, 26);
  border-radius: 30px;
  border: rgb(215, 238, 10);
  width: 200px;
  height: 30px;
  padding: 15px;
}

* {
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  body{
    display: flex;
    flex-wrap: wrap;
  }
}